---
import CVButton from './buttons/socials/CV.astro';
import BehanceButton from './buttons/socials/Behance.astro';
import LinkedinButton from './buttons/socials/Linkedin.astro';
import InstagramButton from './buttons/socials/Instagram.astro';
---



<footer>
  <div class="center">
    <h2>Chaudhry Mahnoor</h2>
    <div class="social">
      <CVButton />
      <BehanceButton />
      <LinkedinButton />
      <InstagramButton />
    </div>
  </div>
</footer>
