<div class="MesProjets">
  <h1>Mes projets</h1>
  <div class="menu">
    <div class="bar"></div>
    <ul>
      <li class="selected" id="all">All</li>
      <li id="xp">Expérience professionnelle</li>
      <li id="ui">UI/UX</li>
      <li id="print">Print</li>
      <li id="logo">Logo</li>
      <li id="photo">Retouche photo</li>
    </ul>
  </div>
  <div class="Projets" id="Projets">
    <a href="/projects/excellence">
      <div class="box xp">
        <img src="/assets/images/projects/excellence.png" alt="Excellence" />
      </div>
    </a>
    <a href="/projects/clairelevis">
      <div class="box ui">
        <img src="/assets/images/projects/clairelevis.png" alt="Claire Levis" />
      </div>
    </a>
    <a href="/projects/bootcamp">
      <div class="box">
        <img src="/assets/images/projects/olympiques.png" alt="Olympiques" />
      </div>
    </a>
    <a href="/projects/craft">
      <div class="box ui">
        <img src="/assets/images/projects/craft.png" alt="Craft" />
      </div>
    </a>
    <div class="box titre">
      <h1 id="titre">Tout mes projets</h1>
    </div>
    <a href="/projects/gumgame">
      <div class="box xp ui">
        <img src="/assets/images/projects/gumgame.png" alt="Gum Game" />
      </div>
    </a>
    <a href="/projects/challenge">
      <div class="box ui">
        <img src="/assets/images/projects/challenges.png" alt="UI Challenges" />
      </div>
    </a>
    <div class="box aretouchep">
      <img
        src="/assets/images/projects/retouchephoto.png"
        alt="Retouche Photo" />
    </div>
    <a href="/projects/harpo">
      <div class="box ui">
        <img src="/assets/images/projects/harpo.png" alt="Harpo" />
      </div>
    </a>
  </div>
</div>
