---
import DefaultLayout from '../../layouts/default.astro';
---

<DefaultLayout page="bootcamp">
  <div class="element">
    <div class="text">
      <h1>English Bootcamp</h1>
      <h2>Les Jeux Olympiques</h2>
      <p>
        Se présentant comme le Comité National de Bangkok, nous avions comme but
        de préparer notre candidature pour accueillir les Jeux Olympiques 2024.
      </p>
    </div>
    <img src="/assets/images/projects/bootcamp/demo.png" alt="demo" />
  </div>

  <img
    class="full"
    id="mobile"
    src="/assets/images/projects/bootcamp/m_medail.png"
    alt="medail" />
  <img
    class="full"
    id="desktop"
    src="/assets/images/projects/bootcamp/medail.png"
    alt="medail" />

  <div class="other">
    <h1>Voir plus de projet</h1>
    <div class="projets">
      <a href="/projects/excellence">
        <div class="box xp">
          <img src="/assets/images/projects/excellence.png" alt="Excellence" />
        </div>
      </a>
      <a href="/projects/clairelevis">
        <div class="box ui">
          <img
            src="/assets/images/projects/clairelevis.png"
            alt="Claire Levis" />
        </div>
      </a>
      <a href="/projects/challenge">
        <div class="box ui">
          <img
            src="/assets/images/projects/challenges.png"
            alt="UI Challenges" />
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>
