---
import DefaultLayout from '../../layouts/default.astro';
---

<DefaultLayout page="challenge">
  <div class="background"></div>
  <div class="element">
    <div class="text">
      <h1>Ui Challenges</h1>
      <h2>Scolaire</h2>
      <p>
        Chaque semaine nous avions un nouveau UI Challenge et nous disposions
        d'une semaine pour les réaliser.
      </p>
    </div>
    <img src="/assets/images/projects/challenge/tablette.png" alt="tablette" />
  </div>
  <div class="element">
    <img
      src="/assets/images/projects/challenge/neverland.png"
      alt="neverland" />
    <div class="text">
      <h1 id="grey">Objectif :</h1>
      <p>
        Présenter un personnage de manga de votre choix. Nous devons avoir envie
        d’en « savoir plus » en cliquant sur le bouton.
      </p>
    </div>
  </div>
  <div class="element">
    <div class="text">
      <h1 id="grey">Objectif :</h1>
      <p>
        Présenter un personnage de manga de votre choix. Nous devons avoir envie
        d’en « savoir plus » en cliquant sur le bouton.
      </p>
    </div>
    <img src="/assets/images/projects/challenge/insta.png" alt="insta" />
  </div>
  <div class="other">
    <h1>Voir plus de projet</h1>
    <div class="projets">
      <a href="/projects/bootcamp">
        <div class="box">
          <img src="/assets/images/projects/olympiques.png" alt="Olympiques" />
        </div>
      </a>
      <a href="/projects/craft">
        <div class="box ui">
          <img src="/assets/images/projects/craft.png" alt="Craft" />
        </div>
      </a>
      <a href="/projects/gumgame">
        <div class="box xp ui">
          <img src="/assets/images/projects/gumgame.png" alt="Gum Game" />
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>
