---
import DefaultLayout from '../../layouts/default.astro';
---

<DefaultLayout page="clairelevis">
  <div class="element">
    <div class="text">
      <h1>Claire Levis</h1>
      <h2>Créatrice de sac à main de Luxe fait main</h2>
      <p>
        Claire Levis, est une créatrice de sac à main fait main. En équipe nous
        devions créer un site internet pour faire connaitre sa marque, nous
        avions deux jours pour lui créer une identité visuelle, faire les
        designs des visuels de communications, lui proposer des designs de logo
        et également s’occuper de ses réseaux sociaux .
      </p>
    </div>
    <img src="/assets/images/projects/clairelevis/app.png" alt="app" />
  </div>

  <img
    class="full"
    src="/assets/images/projects/clairelevis/site.png"
    alt="site" />

  <div class="other">
    <h1>Voir plus de projet</h1>
    <div class="projets">
      <a href="/projects/bootcamp">
        <div class="box">
          <img src="/assets/images/projects/olympiques.png" alt="Olympiques" />
        </div>
      </a>
      <a href="/projects/excellence">
        <div class="box xp">
          <img src="/assets/images/projects/excellence.png" alt="Excellence" />
        </div>
      </a>
      <a href="/projects/craft">
        <div class="box ui">
          <img src="/assets/images/projects/craft.png" alt="Craft" />
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>
