---
import DefaultLayout from '../../layouts/default.astro';
---

<DefaultLayout page="craft">
  <div class="element">
    <div class="text">
      <h1>Craft</h1>
      <h2>Sup'hackathon</h2>
      <p>
        Craft est un projet qui nous à été confié lors d’un Hackathon. Nous
        avions donc 24 h pour réinventer les réseaux sociaux en prenant en
        compte les circonstances actuelles du coronavirus.
      </p>
    </div>
    <img src="/assets/images/projects/craft/imac.png" alt="imac" />
  </div>
  <div class="element">
    <img src="/assets/images/projects/craft/craft.png" alt="craft" />
    <div class="text">
      <h1 id="grey">Craft</h1>
      <p>
        Notre concept était de faire un réseau social de DIY et bricolage. Notre
        application permet aux utilisateurs la possibilité de réaliser des DIY
        grâce aux vidéos et aux explications textes (avec les outils et le
        matériel nécessaire ainsi que la durée et difficulté du tuto), de poster
        des tutoriels, d’enregistrer des vidéos et de défier ses amis.
      </p>
    </div>
  </div>
  <img
    class="full"
    src="/assets/images/projects/craft/apli.png"
    alt="aplication" />
  <div class="other">
    <h1>Voir plus de projet</h1>
    <div class="projets">
      <a href="/projects/challenge">
        <div class="box ui">
          <img
            src="/assets/images/projects/challenges.png"
            alt="UI Challenges" />
        </div>
      </a>
      <a href="/projects/bootcamp">
        <div class="box">
          <img src="/assets/images/projects/olympiques.png" alt="Olympiques" />
        </div>
      </a>
      <a href="/projects/harpo">
        <div class="box ui">
          <img src="/assets/images/projects/harpo.png" alt="Harpo" />
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>
