---
import DefaultLayout from '../../layouts/default.astro';
---

<DefaultLayout page="gumgame">
  <div class="element">
    <img src="/assets/images/projects/gumgame/gumgame.png" alt="mockup" />
    <div class="text">
      <h1>Gum Game</h1>
      <h2>Marque de gomme</h2>
      <p>
        Gum Game est une marque de gomme, pour laquelle j'ai créé le design
        desktop, mobile et IPad du site de l’entreprise. En effet, étant la
        seule Web designer, j’ai créé un design de manière autonome .
      </p>
    </div>
  </div>

  <div class="other">
    <h1>Voir plus de projet</h1>
    <div class="projets">
      <a href="/projects/bootcamp">
        <div class="box">
          <img src="/assets/images/projects/olympiques.png" alt="Olympiques" />
        </div>
      </a>
      <a href="/projects/craft">
        <div class="box ui">
          <img src="/assets/images/projects/craft.png" alt="Craft" />
        </div>
      </a>
      <a href="/projects/harpo">
        <div class="box ui">
          <img src="/assets/images/projects/harpo.png" alt="Harpo" />
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>
