---
import DefaultLayout from '../../layouts/default.astro';
---

<DefaultLayout page="harpo">
  <div class="d"></div>
  <div class="element">
    <div class="text">
      <h1>Harpo Paris</h1>
      <h2>Refonte du site harpo-paris.com</h2>
      <p>
        Refonte du design d’un site de vente de bijoux originaux et ethniques
        tout en montrant que la marque s’inscrit dans la mode contemporaine.
      </p>
    </div>
    <img src="/assets/images/projects/harpo/mockup.png" alt="mockup" />
  </div>

  <img class="fulll" src="/assets/images/projects/harpo/web.png" alt="site" />

  <div class="other">
    <h1>Voir plus de projet</h1>
    <div class="projets">
      <a href="/projects/gumgame">
        <div class="box xp ui">
          <img src="/assets/images/projects/gumgame.png" alt="Gum Game" />
        </div>
      </a>
      <a href="/projects/craft">
        <div class="box ui">
          <img src="/assets/images/projects/craft.png" alt="Craft" />
        </div>
      </a>
      <a href="/projects/clairelevis">
        <div class="box ui">
          <img
            src="/assets/images/projects/clairelevis.png"
            alt="Claire Levis" />
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>
