<a href="/assets/Mahnoor_Chaudhry_CV.pdf" target="_blank">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="65.876"
    height="65.876"
    viewBox="0 0 65.876 65.876">
    <g id="Groupe_120" data-name="Groupe 120" transform="translate(-799 -4615)">
      <g id="Groupe_101" data-name="Groupe 101" transform="translate(701 4047)">
        <path
          id="cv"
          d="M61.125,0H4.751A4.751,4.751,0,0,0,0,4.751V61.125a4.751,4.751,0,0,0,4.751,4.751H61.125a4.751,4.751,0,0,0,4.751-4.751V4.751A4.751,4.751,0,0,0,61.125,0Z"
          transform="translate(98 568)"
          fill="#ffe246"></path>
      </g>
      <text
        id="cv-2"
        data-name="cv"
        transform="translate(802 4664)"
        fill="#323232"
        font-size="45"
        font-family="Roboto-Black, Roboto"
        font-weight="800"><tspan x="0" y="0">CV</tspan></text>
    </g>
  </svg>
</a>
