<a href="https://www.instagram.com/mah_noor_design/?hl=fr" target="_blank">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="65.877"
    height="65.876"
    viewBox="0 0 65.877 65.876">
    <g
      id="Groupe_292"
      data-name="Groupe 292"
      transform="translate(-17747 -10860)">
      <g
        id="Groupe_291"
        data-name="Groupe 291"
        transform="translate(17649 10292)">
        <path
          id="cv"
          d="M61.125,0H4.751A4.751,4.751,0,0,0,0,4.751V61.125a4.751,4.751,0,0,0,4.751,4.751H61.125a4.751,4.751,0,0,0,4.751-4.751V4.751A4.751,4.751,0,0,0,61.125,0Z"
          transform="translate(98 568)"
          fill="#ffe246"></path>
      </g>
      <g
        id="Rectangle_182"
        data-name="Rectangle 182"
        transform="translate(17756 10869)"
        fill="none"
        stroke="#2e2e2f"
        stroke-width="5">
        <rect width="48" height="48" rx="14" stroke="none"></rect>
        <rect x="2.5" y="2.5" width="43" height="43" rx="11.5" fill="none"
        ></rect>
      </g>
      <g
        id="Ellipse_234"
        data-name="Ellipse 234"
        transform="translate(17767 10880)"
        fill="none"
        stroke="#2e2e2f"
        stroke-width="5">
        <circle cx="13" cy="13" r="13" stroke="none"></circle>
        <circle cx="13" cy="13" r="10.5" fill="none"></circle>
      </g>
      <circle
        id="Ellipse_235"
        data-name="Ellipse 235"
        cx="3"
        cy="3"
        r="3"
        transform="translate(17790 10877)"
        fill="#2e2e30"></circle>
    </g>
  </svg>
</a>
